{% extends 'base.html' %}
{% load static %}
{% block title %}Login - {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/user-form.css' %}">
{% endblock %}

{% block content %}

<div class="main-form">
  <div class="form-box">
    <h1>Login</h1>
    <form method="POST" action="login">
      {% csrf_token %}
      {% if next %}
      <input type="hidden" name="next" value="{{ next }}">
      {% endif %}
      <label>Username</label>
      <input type="text" name="username" required>

      <label>Password</label>
      <input type="password" name="password" required>

      <button type="submit">Login</button>
    </form>
    <div class="switch-link">
      Don’t have an account? <a href="register">Register</a>
    </div>
  </div>
</div>
{% endblock %}