{% extends 'base.html' %}
{% load static %}

{% block title %}Ragister -{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/user-form.css' %}">
{% endblock %}

{% block content %}
<div class="main-form">
  <div class="form-box">
    <h2>Register</h2>

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <form method="POST" action="register">
      {% csrf_token %}
      <label>Username</label>
      <input type="text" name="username" required>

      <label>Email</label>
      <input type="email" name="email" required>

      <label>Password</label>
      <input type="password" name="password1" required>

      <label>Confirm Password</label>
      <input type="password" name="password2" required>

      <button type="submit">Register</button>
    </form>

    <div class="switch-link">
      Already have an account? <a href="login">Login</a>
    </div>
  </div>
</div>
{% endblock %}